* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0B0B0B;
  color: white;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 8%;
  border-bottom: 1px solid #222;
}

.logo {
  color: gold;
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.whatsapp-btn {
  background: gold;
  color: black;
  padding: 10px 18px;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
}

.hero {
  min-height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px;
}

.hero-content {
  max-width: 800px;
}

.hero h1 {
  font-size: 4rem;
  color: gold;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2rem;
  line-height: 1.7;
}

.hero-buttons {
  margin-top: 30px;
}

.hero-buttons a {
  display: inline-block;
  margin: 10px;
  padding: 14px 25px;
  background: gold;
  color: black;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
}

.footer {
  text-align: center;
  padding: 40px;
  border-top: 1px solid #222;
}